<mat-toolbar color="primary">
  <div flex grow>
  <button mat-icon-button>
    <mat-icon (click)="drawer.toggle()" aria-label="Menu">menu</mat-icon>
  </button>
  My App</div>
  <div flex grow>
  <form>
    <mat-form-field floatLabel="never">
      <input matInput placeholder="Find your city">
    </mat-form-field>
  </form>
  </div>
  <div flex grow>test </div>
</mat-toolbar>
<mat-drawer-container>
  <mat-drawer #drawer mode="side">Drawer content</mat-drawer>
  <mat-drawer-content>Test</mat-drawer-content>
</mat-drawer-container>
